

h1 { color : red }
html{
    border: solid;
}

body {
    border: 16px solid rgb(253, 253, 253);
    }

h3.border {
    margin: 30px;
    }

h2 {
    margin: 24px;
    }
h3 {
    margin: 26px;
    line-height: normal;
    }
h4{
    margin: 26px;
    }

table, th, td {
    border:1px solid red;
    margin: 25px;
    }
p{
    margin:35px;
}html{
    border: solid;
}

body {
    border: 15px solid rgb(253, 253, 253);
    }

h3.border {
    margin: 35px;
    }

h2 {
    margin: 25px;
    }
h3 {
    margin: 25px;
    line-height: normal;
    }
h4{
    margin: 25px;
    }

table, th, td {
    border:1px solid green;
    margin: 25px;
    }
p{
    margin:35px;
}

<h1 style="color:pink;">A red Heading</h1>
 ma

<p style="color:rlblack;">A green paragraph</p>
